<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DungeonMaster</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dicetest">
                <span class="oi oi-plus" aria-hidden="true"></span> Dice Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dicemodaltest">
                <span class="oi oi-plus" aria-hidden="true"></span> Dice Modal Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="charactercreationtest">
                <span class="oi oi-star" aria-hidden="true"></span> Character Creation Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="meleeattacktest">
                <span class="oi oi-star" aria-hidden="true"></span> Melee Attack Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rangedattacktest">
                <span class="oi oi-star" aria-hidden="true"></span> Ranged Attack Test
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gamecreationtest">
                <span class="oi oi-star" aria-hidden="true"></span> Game Creation Test
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="canvastest">
                <span class="oi oi-star" aria-hidden="true"></span> Canvas Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CanvasTestWithImages">
                <span class="oi oi-star" aria-hidden="true"></span> Canvas Test With Images
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
