@page "/attackmapdice"

<h3>Attack, Map, and Dice Test</h3>

@* Map *@

@* Character Controls     ||   Dice Modal Controls *@

@* Combat Log *@


@code {

    // Game Object
    

    // Current Player (Might store as a turn object in Game?)

    // Dice Modal


    // SignalR Aspects


    // Combat Log Aspects


}
