@page "/DiceModalTest"

@using DungeonMaster.Data


<h3>Dice Modal Test</h3>
<hr />
<br />
<div class="row">
    <label class="col-2">Dice Total: </label>
    <input class="col-1" readonly value="@diceTotal" />
</div>

<DungeonMaster.Pages.Components.DiceModal @ref="DiceModal"></DungeonMaster.Pages.Components.DiceModal>
<button class="btn btn-primary" @onclick="() => DiceModal.OpenModal()"> Roll Dice</button>

@code {
    /// <summary>
    /// Modal that is to be displayed on the page.
    /// </summary>
    private DungeonMaster.Pages.Components.DiceModal DiceModal { get; set; }

    /// <summary>
    /// Int representing the result of the dice roll.
    /// </summary>
    private int diceTotal;
}