@page "/MeleeAttackTest"

@using DungeonMaster.Data
<h3>Testing Attacking</h3>

    <div class="row">
        <button @onclick="SetupGame">Restart Game</button>
    </div>
    <div class="row">
        <div class="col-3">
            <ul>
                <li>
                    Character Name: @player1Name
                </li>
                <li>
                    Weapon: @player1Weapon
                </li>
                <li>
                    Health: @player1Health
                </li>
            </ul>
            
        </div>
        <div class="col-3">
            @attackResult
        </div>
        <div class="col-3">
            <ul>
                <li>
                    Character Name: @player2Name
                </li>
                <li>
                    Weapon: @player2Weapon
                </li>
                <li>
                    Health: @player2Health
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <button @onclick="AttackExample">Attack the Enemy!</button>
    </div>


@code {
    /// <summary>
    /// Two players and game board, to simulate the combat section of our game.
    /// </summary>
    public Character player1 { get; set; } = new Character("Player 1", 50, 1);
    public Character player2 { get; set; } = new Character("Player 2", 50, 1);

    public Game testGame { get; set; } = new Game();

    /// <summary>
    ///  Strings representing Player information, to be displayed to the user.
    /// </summary>
    private string player1Name;
    private string player1Weapon;
    private double player1Health;

    private string player2Name;
    private string player2Weapon;
    private double player2Health;
    private string attackResult = "";

    /// <summary>
    /// Method to restart or setup the game.
    /// </summary>
    public void SetupGame()
    {
        player1 = new Character("Player 1", 50, 1);
        player2 = new Character("Player 2", 50, 1);
        testGame = new Game(player1, player2);
        attackResult = "";

        UpdatePlayerInfo();

        StateHasChanged();
    }

    /// <summary>
    /// Method to show that our attack method works.
    /// </summary>
    public void AttackExample()
    {
        attackResult = testGame.MeleeAttack(player1, player2);
        
        UpdatePlayerInfo();

    }
    /// <summary>
    /// Method to update Player information on the screen.
    /// </summary>
    public void UpdatePlayerInfo()
    {
        player1Name = player1.Name;
        player1Weapon = player1.MeleeWeapon.Name;
        player1Health = player1.Health;

        player2Name = player2.Name;
        player2Weapon = player2.MeleeWeapon.Name;
        player2Health = player2.Health;
    }


}
