@page "/MeleeAttackTest"

@using DungeonMaster.Data
<h3>Testing Attacking</h3>

    <div class="row">
        <button @onclick="SetupGame">Start Game</button>
    </div>
    <div class="row">
        <div>
            <ul>
                <li>
                    Character Name: @player1Name
                </li>
                <li>
                    Weapon: @player1Weapon
                </li>
                <li>
                    Health: @player1Health
                </li>
            </ul>
            
        </div>
        <div>

        </div>
        <div>
            <ul>
                <li>
                    Character Name: @player2Name
                </li>
                <li>
                    Weapon: @player2Weapon
                </li>
                <li>
                    Health: @player2Health
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <button @onclick="AttackExample">Attack the Enemy!</button>
    </div>


@code {

    public Character player1 { get; set; } = new Character("Player 1", 50, 1);
    public Character player2 { get; set; } = new Character("Player 2", 50, 1);

    public Game testGame { get; set; } = new Game();

    public string player1Name;
    public string player1Weapon;
    public double player1Health;

    public string player2Name;
    public string player2Weapon;
    public double player2Health;

    public void SetupGame()
    {
        player1 = new Character("Player 1", 50, 1);
        player2 = new Character("Player 2", 50, 1);
        testGame = new Game(player1, player2);

        UpdatePlayerInfo();

        StateHasChanged();
    }

    public void AttackExample()
    {
        testGame.MeleeAttack(player1, player2);
        UpdatePlayerInfo();

    }
    public void UpdatePlayerInfo()
    {
        player1Name = player1.Name;
        player1Weapon = player1.MeleeWeapon.Name;
        player1Health = player1.Health;

        player2Name = player2.Name;
        player2Weapon = player2.MeleeWeapon.Name;
        player2Health = player2.Health;
    }


}
