<button @onclick="ClickUp">Move Right</button>
<button @onclick="ClickDown">Move Left</button>
<button @onclick="ClickRight">Move Up</button>
<button @onclick="ClickLeft">Move Down</button>

<p></p>
<div class="game-continer" @onclick="StartGame">
    <div class="map">
        <div class="player" style="@_playerCss"></div>
    </div>

</div>



@code {

    public int Count { get; set; }
    GameManager _gameManager;
    string _playerCss => $"bottom: {_gameManager.Player.DistanceFromTop}px";

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.PropertyChanged += (o, e) => StateHasChanged();
    }


    void StartGame()
    {
        _gameManager.MainLoop();
    }




    private void ClickUp(MouseEventArgs mouseEventArgs)
    {
        _gameManager.Player.DistanceFromTop = 200;
    }
    private void ClickDown(MouseEventArgs mouseEventArgs)
    {

    }
    private void ClickLeft(MouseEventArgs mouseEventArgs)
    {

    }
    private void ClickRight(MouseEventArgs mouseEventArgs)
    {

    }



}
